<app-header></app-header>

<main class="flex flex-col gap-20 mt-5">
  <section
    class="flex flex-col items-start gap-5 md:flex-row px-5 md:items-center"
  >
    <div>
      <span class="font-bold text-xl text-[#475569] uppercase"
        >Kipper consultoria</span
      >
      <h1 class="font-semibold text-[#0F172A] text-5xl xl:text-6xl">
        A consultoria que você busca para seu software
      </h1>
    </div>
    <img class="px-5" ngSrc="assets/home01.png" width="669" height="536" />
  </section>

  <app-benefit></app-benefit>

  <app-button-primary
    btn-text="fale com uns do nossos expecialistas"
  ></app-button-primary>
</main>
