<app-header></app-header>

<main class="mt-5 flex flex-col gap-20">
  <section
    class="flex flex-col items-start gap-5 px-5 md:items-center lg:flex-row"
  >
    <div>
      <span class="text-xl font-bold uppercase text-[#475569]"
        >Kipper consultoria</span
      >
      <h1 class="text-5xl font-semibold text-[#0F172A] xl:text-6xl">
        A consultoria que você busca para seu software
      </h1>
    </div>
    <img
      class="px-5 xl:w-[669px]"
      ngSrc="assets/home01.png"
      width="600"
      height="536"
    />
  </section>

  <app-benefit></app-benefit>

  <section class="flex justify-center">
    <app-button-primary
      btn-text="fale com nossos especialistas"
    ></app-button-primary>
  </section>

  <section class="flex flex-col items-center justify-center">
    <app-form></app-form>
  </section>
</main>
